<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	galleryWidth="700"
	galleryHeight="750"
	backgroundColor="rgba(153,102,102,1)"
	imagePadding="10"
	captionPosition="BOTTOM"
	galleryFontFace="Georgia,serif"
	textColor="rgba(255,255,255,1)"
	captionBackColor="rgba(0,0,0,0)"
	imageShadowBlur="0"
	imageTransitionTime="0.5"
	galleryTitle="Custom Designed Invitations"
	galleryTitlePosition="TOP"
	buttonBarPosition="TOP"
	textShadowColor="rgba(0,0,0,0)"
	showAutoPlayButton="true"
	showThumbsButton="true"
	showOpenButton="false"
	flickrShowDescription="true"
	thumbFrameColor="rgba(153,51,102,.5)"
	shareFacebook="true"
	shareTwitter="true"
	sharePinterest="true"
	backButtonPosition="OVERLAY"
	backButtonHAlign="LEFT"
	backButtonUrl="http://tarawhiteley.com/#portfolio_bottom"
	showSmallBackButton="false"

>
  <image imageURL="images/wedding invite.jpg"
	thumbURL="thumbs/wedding invite.jpg"
	linkURL="images/wedding invite.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\wedding invite.jpg">
    <title><![CDATA[Wedding Invitation]]></title>
    <caption><![CDATA[Set of 3 custom cards]]></caption>
  </image>
  <image imageURL="images/rsvp.jpg"
	thumbURL="thumbs/rsvp.jpg"
	linkURL="images/rsvp.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\rsvp.jpg">
    <title><![CDATA[RSVP Card]]></title>
    <caption><![CDATA[Set of 3 custom cards]]></caption>
  </image>
  <image imageURL="images/thankyou.jpg"
	thumbURL="thumbs/thankyou.jpg"
	linkURL="images/thankyou.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\thankyou.jpg">
    <title><![CDATA[Thank You Card]]></title>
    <caption><![CDATA[Set of 3 custom cards]]></caption>
  </image>
  <image imageURL="images/babyshower_front.jpg"
	thumbURL="thumbs/babyshower_front.jpg"
	linkURL="images/babyshower_front.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\babyshower_front.jpg">
    <title><![CDATA[Baby Shower Invitation]]></title>
    <caption><![CDATA[Front]]></caption>
  </image>
  <image imageURL="images/babyshower_back.jpg"
	thumbURL="thumbs/babyshower_back.jpg"
	linkURL="images/babyshower_back.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\babyshower_back.jpg">
    <title><![CDATA[Baby Shower Invitation]]></title>
    <caption><![CDATA[Back]]></caption>
  </image>
  <image imageURL="images/birthday_front.jpg"
	thumbURL="thumbs/birthday_front.jpg"
	linkURL="images/birthday_front.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\birthday_front.jpg">
    <title><![CDATA[Birthday Card]]></title>
    <caption><![CDATA[Front]]></caption>
  </image>
  <image imageURL="images/birthday_back.jpg"
	thumbURL="thumbs/birthday_back.jpg"
	linkURL="images/birthday_back.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\birthday_back.jpg">
    <title><![CDATA[Birthday Card]]></title>
    <caption><![CDATA[Back]]></caption>
  </image>
  <image imageURL="images/bridalshower_front.jpg"
	thumbURL="thumbs/bridalshower_front.jpg"
	linkURL="images/bridalshower_front.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\bridalshower_front.jpg">
    <title><![CDATA[Bridal Shower Invitation]]></title>
    <caption><![CDATA[Front]]></caption>
  </image>
  <image imageURL="images/bridalshower_back.jpg"
	thumbURL="thumbs/bridalshower_back.jpg"
	linkURL="images/bridalshower_back.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Tara\OneDrive\Documents\University of Florida\Web Design\tarawhiteley.com\images\cards\bridalshower_back.jpg">
    <title><![CDATA[Bridal Shower Invitation]]></title>
    <caption><![CDATA[Back]]></caption>
  </image>
</juiceboxgallery>
